<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>about.com</title>
</head>
<body>
    {{>header}}
    <div class="about-main">
        <div class="image">
            <img src="/public/images/young-attractive-handsome-guy-feels-delighted-gladden-amazed.jpg" alt="human image" width="611px" height="610px">
        </div>
        <div class="para">
        <h2>I AM A MERN STACK DEVELOPER. I AM THE INSTRUCTOR ON YOUTUBE FROM 2YEARS. I AM THE STUDENT OF C.T.A.E. COLLEGE. HOW CAN I HELP YOU?</h2>
        </div>
    </div>
    {{>footer}}
</body>
</html>