<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Weatherwebsite.com</title>
</head>
<body>
    <section class="navbar">
        <div class="nav1">
            <i class="fas fa-snowflake"></i>
            <h2>CtaeWeather</h2>
            <i class="fas fa-snowflake"></i>
        </div>
        <div class="nav2">
        <a href="/" id="home">HOME</a>
        <a href="/weather" id="weather">WEATHER</a>
        <a href="/about" id="about">ABOUT</a>
        </div>
    </section>
    <div class="left-right">
    <section class="maincontent">
        <h1>KNOW ABOUT TEMPERATURE STATUS OF YOUR CITY BY ONLY ONE SEARCH</h1>
        <P>it is the website which describe the temperature status of your city and you are one search away for this. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias iure deleniti repellat minus incidunt corporis, asperiores non sed, inventore, esse molestiae dolore magnam ad aperiam provident autem ea. Officiis, mollitia.</P>
    </section> 
    <div class="slider">
        <img class="right first" src="/public/images/pexels-johannes-plenio-1118873.jpg" alt="weather image">
        <img class="right second" src="/public/images/pexels-pixabay-268941.jpg" alt="weather image">
        <img class="right third" src="/public/images/pexels-pixabay-459451.jpg" alt="weather image">
        <img class="right four" src="/public/images/pexels-ralph-w-lambrecht-1446076.jpg" alt="weather image">
        <img class="right five" src="/public/images/pexels-tahir-shaw-186980.jpg" alt="weather image">
    </div>
    </div>
    <section class="footer">
        <div class="foot">
            <h2>MADE WITH LOVE BY SUJAL SAHU.COPYRIGHT<i class="far fa-copyright"></i>ACTION RESERVED.</h2>
        </div>
    </section>
</body>
{{!-- <script src="../../public/js/main.js"></script> --}}
</html>