<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Document</title>
</head>
<body>
    <section class="footer">
        <div class="foot">
            <h2>MADE WITH LOVE BY SUJAL SAHU.COPYRIGHT<i class="far fa-copyright"></i>ACTION RESERVED.</h2>
        </div>
    </section>
</body>
</html>